body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#3b0a4d,#ff4fa3);
color:white;
}

.app{
display:flex;
height:100vh;
overflow:hidden;
}

/* SIDEBAR */

.sidebar{
width:230px;
background:#21002e;
padding:20px;
}

.brand{
display:flex;
align-items:center;
gap:10px;
margin-bottom:30px;
}

.logo-small{
width:50px;
}

.sidebar ul{
list-style:none;
padding:0;
}

.sidebar li{
margin:20px 0;
cursor:pointer;
}

/* MAIN */

.main{
flex:1;
padding:40px;
padding-bottom:120px;
position:relative;
overflow-y:auto;
height:100vh;
}

/* HOME */

.main-content{
position:relative;
height:calc(100vh - 120px);
}

/* GRUPO TWICE */

.home-image{
position:absolute;
bottom:0;
left:60px;
}

.home-image img{
width:620px;
height:auto;
}
/* CHAEYOUNG */

.bias-section{
position:absolute;
right:120px;
bottom:60;
}
.bias-img{
width:220px;
border-radius:20px;
transition:0.3s;
cursor:pointer;
}

.bias-img:hover{
transform:scale(1.1);
}

/* SONGS GRID */

.songs-page{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(140px,1fr));
gap:25px;
margin-top:40px;
padding-bottom:120px;
}

.song-card{
background:#2c003d;
padding:12px;
border-radius:18px;
height:170px;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
cursor:pointer;
transition:0.3s;
}

.song-card img{
width:100px;
height:100px;
object-fit:cover;
border-radius:10px;
margin-bottom:8px;
}

.song-card:hover{
transform:scale(1.05);
background:#3a0052;
}

/* PLAYER */

.player{
position:fixed;
bottom:0;
left:0;
width:100%;
background:#1a0025;
display:flex;
align-items:center;
justify-content:space-between;
padding:15px 30px;
z-index:10;
}

.player-left{
display:flex;
align-items:center;
gap:10px;
}

.player-left img{
width:50px;
height:50px;
border-radius:8px;
}

.player-right{
display:flex;
align-items:center;
gap:20px;
}

.player-right button{
font-size:22px;
background:none;
border:none;
color:white;
cursor:pointer;
}

.progress-container{
display:flex;
align-items:center;
gap:10px;
width:300px;
}

#progress{
flex:1;
accent-color:#ff4fa3;
}